<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" [class.sidenav-toolbar-desktop]="!(isHandset$ | async)">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Music Server 1</span>
    </mat-toolbar>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let album of albums$ | async">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{album.name}}</mat-card-title>
            <mat-card-subtitle>{{album.artists.slice(0, 2).join(", ")}}<span *ngIf="album.artists.length > 2">, ...</span></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
<!--    <ul *ngIf="(albums$ | async)?.length != 0">-->
<!--      <li *ngFor="let album of albums$ | async">-->
<!--        <span>{{album.name}}</span>-->
<!--      </li>-->
<!--    </ul>-->
  </mat-sidenav-content>
</mat-sidenav-container>
